html {
    height: 100%;
}

.bg-welcome {
    background: url(../img/bg-yellow.png) no-repeat center center;
    background-size: cover;
    width: 100%;
}

.river {
    width: 100%;
    height: 100px;
    background: url(../img/water.png) repeat-x;
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.bottle {
    position: absolute;
    bottom: 60px;
    left: 0px;
    -webkit-animation: upAndDown 4s ease-in-out infinite;
    animation: upAndDown 4s ease-in-out infinite;
}
.arr-wrap{
    width:100%;
    display:block;
    text-align: center;
    position: absolute;
    bottom:20px;
}
.arr {
    /*margin-right:25px;*/
}

#play{
    background-color: green;
}
#pause{
    background-color: red;
}


@-webkit-keyframes upAndDown {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes upAndDown {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.page2 {
    background: rgb(192, 162, 99);
    text-align: center;
}

.page3 {
    background: white;
    text-align: center;
}

.page4 {
    background: rgb(235, 136, 173);
    text-align: center;
}

.page5 {
    background: rgb(100, 192, 241);
    text-align: center;
}

.page6 {
    background: rgb(247, 158, 71);
    text-align: center;
}

.page7 {
    background: rgb(241, 95, 99);
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}
.begin{
    font-size: 18px;
    background:white;
    color: rgb(241, 95, 99);
    width:190px;
    margin:10px auto;
    line-height: 1.4;
    border-radius: 10px;
}
.animated-two {
-webkit-animation-duration: 3s;
animation-duration: 3s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}




